/*FONTS*/

/*TABS*/
.paragraph_style_1 {
    color: rgb(88, 77, 77);
    font-family: 'Avenir-Book', 'Avenir';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

/*BIG NAME*/
.paragraph_style_2 {
    color: rgb(65, 65, 65);
    font-family: 'Avenir-Book', 'Avenir';
    font-size: 48px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 66px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

/*SECTION HEADINGS*/
.paragraph_style_3 {
    color: rgb(0, 0, 0);
    font-family: 'Avenir-Light', 'Avenir';
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing:    -0.02em;
    line-height: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 53px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}


/*BODY*/
.paragraph_style_4 {
    color: rgb(0, 0, 0);
    font-family: 'Avenir-Light', 'Avenir';
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing:    -0.02em;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 53px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}

.style {
    letter-spacing:    -0.01em;
    line-height: 22px;
}
.style_1 {
    font-family: 'Avenir-LightOblique', 'Avenir';
    font-size: 13px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 200;
    line-height: 22px;
}

.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}


.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default_External_557_44 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_375_74 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_398_674 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: mediumblue;
    text-decoration: none;
}
a:link {
    color: mediumblue;
    text-decoration: none;
}

a:visited {
    color: mediumblue;
    text-decoration: none;
}

a:hover {
    color: mediumblue;
    text-decoration: underline;
}

a:active {
    color: mediumblue;
    text-decoration: none}

a.class1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class1:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class1:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class2 {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class2:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class2:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class3 {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class3:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class3:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class4 {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class4:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class4:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class5 {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a.class5:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a.class5:hover {
   color: rgb(0, 0, 0);
    text-decoration: bold;}

a.class6 {
    text-decoration: none;
}
a.class6:visited {
    text-decoration: none;
}
a.class6:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class7 {
    text-decoration: none;
}
a.class7:visited {
    text-decoration: none;
}
a.class7:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class8 {
    text-decoration: none;
}
a.class8:visited {
    text-decoration: none;
}
a.class8:hover {
    text-decoration: none;
}
a.class9 {
    text-decoration: none;
}
a.class9:visited {
    text-decoration: none;
}
a.class9:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}

div { 
    overflow: visible; 

    }
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 17%;
  padding: 0px;
        
}
.column2 {
  float: left;
  width: 83%;
  padding: 0px;
}
.column25 {
  float: left;
  width: 25%;
  padding: 0px;
}

.column33 {
  float: left;
  width: 33%;
  padding: 0px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column25 {
  float: left;
  width: 33%;
  padding: 0px;
}
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
