.paragraph_style_A {
    color: rgb(65, 65, 65);
    font-family: 'Avenir-Book', 'Avenir';
    font-size: 48px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 66px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.paragraph_style_B {
    color: rgb(0, 0, 0);
    font-family: 'Avenir-Light', 'Avenir';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing:    -0.02em;
    line-height: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 53px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}

.paragraph_style_C {
    color: rgb(0, 0, 0);
    font-family: 'Avenir-Light', 'Avenir';
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing:    -0.02em;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 53px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}